<ng-container>
  <div class="home-area">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell class="header-cell" *matHeaderCellDef>
          Field Name
        </th>
        <td mat-cell style="border-top-style: none" *matCellDef="let element">
          <mat-form-field class="table-cell" appearance="outline">
            <input
              class="table-input"
              matInput
              placeholder="eg.name,email"
              [(ngModel)]="element.name"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <!-- DataType Column -->
      <ng-container matColumnDef="dataType">
        <th mat-header-cell class="header-cell" *matHeaderCellDef>DataType</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="table-cell" appearance="outline">
            <input
              matInput
              placeholder="eg. IATA Code, Airlines"
              [readonly]="true"
              [(ngModel)]="element.dataType"
              value="{{ element.dataType }}"
            />
            <button
              aria-label="Clear"
              mat-icon-button
              matSuffix
              (click)="openDialog(element)"
            >
              <mat-icon>unfold_more</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Option Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell class="header-cell" *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="table-cell" appearance="outline">
            <input
              matInput
              placeholder="Config options"
              [readonly]="true"
              [disabled]="optionsDisabled(element)"
              (click)="openOptionsDialog(element)"
              value="{{ element.options.html_value }}"
            />
            <button aria-label="Clear" mat-icon-button matSuffix>
              <mat-icon>unfold_more</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Close Column -->
      <ng-container matColumnDef="close">
        <th mat-header-cell class="header-cell" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="removeData(element)"
            aria-label="Clear"
            mat-icon-button
          >
            <mat-icon class="icon-display">close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="demo-button-container">
      <button
        mat-button
        color="green"
        mat-raised-button
        (click)="addData()"
        class="demo-button"
      >
        <span
          ><img src="https://cdn-icons-png.flaticon.com/128/748/748113.png"
        /></span>
        Add data
      </button>
      <button
        mat-raised-button
        class="demo-button"
        style="background-color: rgb(163, 236, 165)"
      >
        <span
          ><img src="https://cdn-icons-png.flaticon.com/128/1693/1693746.png"
        /></span>
        Generate Using AI
      </button>
      <span>#Rows</span>
      <input
        class="inrows-button"
        placeholder="No.of Rows"
        [(ngModel)]="rows"
      />
    </div>
  </div>

  <div class="gen-button-container">
    <button mat-button color="green" mat-raised-button class="gen-button">
      <span
        ><img src="https://cdn-icons-png.flaticon.com/128/4792/4792960.png"
      /></span>
      Generate data
    </button>
    <button
      mat-raised-button
      class="gen-button"
      style="background-color: rgb(238, 243, 238)"
      (click)="previewData()"
    >
      <span
        ><img src="https://cdn-icons-png.flaticon.com/128/2356/2356572.png"
      /></span>
      Preview
    </button>
  </div>
</ng-container>
