.demo-table {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

.demo-button-container {
  padding-bottom: 16px;
  margin: 20px;
}

.demo-button {
  margin: 20px;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  background-color: #dadada;
  color: white;
}

.home-area {
  padding: 40px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 15px;
}

img {
  width: 40px;
}

.table-cell {
  width: 450px;
  margin: 0;
  border-color: white;
}

.table-input {
  height: 100%;
}

.header-cell {
  font-size: 30px;
  border-color: rgb(255, 255, 255);
}

mat-table {
  min-height: 300px !important;
  max-height: 300px !important;
  min-width: 300px;
}

/*To maintain the size of mat form fields*/

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.7em) scale(1);
  width: 133.33333%;
  color: #3f51b5;
}

/**/

::ng-deep .mat-cell {
  border-bottom-style: none !important;
}

.icon-display {
  transform: scale(2);
  margin-bottom: 65px;
}

.inrows-button {
  margin: 20px;
  width: 200px;
  height: 70px;
  padding: 15px;
  border-radius: 10px;
}

.gen-button-container {
  padding-bottom: 16px;
  margin: 20px;
  justify-content: center;
  margin-left: 600px;
}

.gen-button {
  margin: 20px;
  width: 400px;
  height: 81px;
  border-radius: 10px;
  background-color: rgb(218, 254, 255);
}

.table-name {
  margin: 20px;
  width: 400px;
  height: 70px;
  padding: 15px;
  border-radius: 10px;
}
