<h1 mat-dialog-title style="font-size: 30px">Preview Data</h1>
<mat-dialog-content class="tabpre">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Column Definitions -->
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <mat-header-cell
        class="header-cell"
        *matHeaderCellDef
        style="
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          max-width: 300px;
          min-width: 300px;
        "
      >
        {{ column }}
      </mat-header-cell>
      <mat-cell
        style="font-size: 25px; max-width: 300px; min-width: 300px"
        *matCellDef="let element"
      >
        {{ element[column] }}
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="ok()">
    OK
  </button>
</mat-dialog-actions>
