<div class="header" style="text-align: center">
  <svg
    style="float: left; margin-top: 10px"
    class="http://www.w3.org/2000/svg"
    width="145"
    height="51"
    viewBox="0 0 145 51"
    fill="none"
  >
    <circle cx="20" cy="25" r="20" fill="#2F2F2F" />
    <rect
      x="47"
      y="9.24225"
      width="12.637"
      height="57.9816"
      rx="6.31851"
      transform="rotate(-45 47 9.24225)"
      fill="#2F2F2F"
    />
    <rect
      x="88.0643"
      width="12.637"
      height="57.9816"
      rx="6.31851"
      transform="rotate(45 88.0643 0)"
      fill="#2F2F2F"
    />
    <rect x="105" y="5" width="40" height="40" rx="10" fill="#2F2F2F" />
  </svg>
  <a href="#default" style="font-size: 60px" class="logo">Autofy</a>
  <div class="header-right">
    <a href="#about">About</a>
    <a href="#about">Docs</a>
    <a href="#about" style="color: white" class="feedback">Feedback</a>
  </div>
</div>
