/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 60px;
  justify-content: space-between;
  background: #f9f9f9;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  max-height: 100px;
  text-align: center;
}

/* Style the header links */
.header a {
  float: center;
  /* text-align: center; */
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
  margin-left: 9px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.autofy {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 48px;
  margin-left: 4rem;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
}

/* Float the link section to the right */
.header-right {
  float: right;
  justify-content: space-between;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.feedback {
  background-color: #111010;
  font-style: normal;
  font-weight: 400;
  color: white;
}
