.example-card {
  width: 400px;
}

::ng-deep .my-custom-dialog-class .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 1500px;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.mat-card:hover {
  background-color: rgb(207, 232, 240);
  cursor: pointer;
}

.mat-card.highlighted {
  background-color: rgb(200, 234, 245);
  cursor: pointer;
}

.selected {
  background-color: rgb(178, 225, 240);
  cursor: pointer;
}
